@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Geist Mono", serif;
}

.chess {
}

.title {
  font-size: 3rem;
  font-family: "Geist Mono", serif;
  font-weight: 900;

  color: rgb(42, 42, 42);
  padding-top: 20px;
  padding-left: 30px;
}

.note {
  color: rgb(82, 82, 82);
  font-family: "Geist Mono", serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.hide-text {
  margin-top: 150px;
  position: absolute;
  width: 100%;
  height: 160px;

  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
}

.dropdown {
  color: #b2b1b1;
  font-size: 2.5rem;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  margin-top: 250px;
  opacity: 1;
  /* border: 1px solid #7b7b7b;
  border-radius: 10px; */
  width: 100px;
  text-align: center;
  padding: 5px 0;

  position: absolute;
  cursor: pointer;
}

.dropdown:hover {
  color: #769656;
  border-color: #769656;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-board {
  background-color: rgb(96, 96, 96);
  color: white;
  border-radius: 3px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.red-button-board {
  background-color: rgb(227, 60, 60);
  color: white;
  border-radius: 3px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.board {
  /* margin: 0 auto; */
  margin-left: 60px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 576px;
  height: 576px;
  border: 5px solid rgb(0, 0, 0);

  z-index: 20;
  background-color: rgb(157, 255, 255);
}
.pos {
  font-size: 1rem;
  position: absolute;
  transform: translate(-80%, -80%);
  color: red;
  text-transform: uppercase;
}

.square {
  background-color: #eeeed2;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid rgb(212, 212, 212);
}
/* backgroundColor: isDark ? '#769656' : '#eeeed2' */

.dark {
  background-color: #769656;
}
.high-light {
  /* background-color: #aae2e5; */
  opacity: 0.6;
}

.bestmove {
  border-color: rgb(255, 0, 0);
}
.piece {
  height: 50px;
  width: 55px;
}

.button-arrange {
  flex: 1;
  margin: 35px 60px 0 20px;
  border: solid 1px rgb(160, 160, 160);
  border-radius: 10px;
  height: 584px;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #858585;
}

.valid {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  opacity: 0.5;
  background-color: rgb(150, 196, 132);
  border: 3px solid rgb(13, 68, 13);
}

.board-sep {
  /* background-color: #769656; */
  display: flex;
  flex-direction: row;
}
